.theme-black.chat-wrapper {
  background-image: url('/assets/img/backgrounds/chat5.jpg');
  background-color: #ccc;
}
.theme-white.chat-wrapper {
  background-image: url('/assets/img/backgrounds/chat4.png');
  background-color: #ccc;
}
.theme-white .chat-box-right, .theme-white .chat-box-left {
  box-shadow: 2px 4px 15px 1px #bbb;
  border: 1px solid #ccc;
}
.theme-black .chat-box-right, .theme-black .chat-box-left {
  box-shadow: 2px 3px 15px 2px #777;
  border: 1px solid #bbb;
}
.theme-black .chat-overlay {
  /* position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5); */
}

.chat-wrapper {
    border-radius: 5px;
    border: 1px double #999;
    height: 400px;
    overflow-y: scroll;
    padding-top: 5px;
    padding-bottom: 10px;
}
.chat-input {
    background-color: rgba(000,000,000,0.00);
    border-radius: 4px;
    border: 1px solid #fff;
}
.chat-box-right {
    position: relative;
    background-color: rgba(255,255,255, 1.50);
    color: #000;
    padding: 0.8em;
    text-align: left;
    width: 40%;
    height: auto;
    margin-left: 15px;
    border-radius: 10px;
    font-size: 12px;
}
.chat-box-right::after {
    content: '';
    position: absolute;
    left: -20px;
    top: 15px;
    border: 10px solid transparent;
    border-right-color: rgba(255,255,255, 1.50);
}
.chat-box-left {
    position: relative;
    background-color: rgba(255,255,255, 1.50);
    color: #000;
    padding: 0.8em;
    text-align: left;
    width: 40%;
    height: auto;
    margin-left: 55%;
    border-radius: 10px;
    font-size: 12px;
}
.chat-box-left::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 15px;
    border: 10px solid transparent;
    border-left-color: rgba(255,255,255, 1.50);
}
.load-associations  {
    background-color: rgba(000,000,000,0.50);
    padding: 1em;
}
.create-form {
    background-color: rgba(000,000,000,0.50);
    padding: 1em;
}
